
#pagesCommonHeaderContainer {

	background:linear-gradient(
		rgba(3, 169, 244, 0.8), 
		rgba(3, 169, 244, 0.8)
		), 
	url(../images/home-bkg002.jpg) no-repeat center center;
	color: #FFF;
	max-height: 100%;
}

#pagesCommonHeaderContainer a {

	color: white;
	font-size: 12px;

}

#pagesCommonHeaderContainer p {

	font-size: 13px;
	font-weight: 600;

}

#pagesCommonHeaderContainer ul {

	padding-top: 75px;
	text-align: right;

}

#pagesCommonHeaderContainer .list-inline-item {

	margin-right: 1px;
}

#pagesCommonHeaderContainer h4 {

	font-size: 32px;
	padding-top: 70px;
	padding-bottom: 70px;

}

#counterContainer img {
	width: 20%;
	height: 30%;
}

#counterContainer span {
	font-size: 45px;
}

#counterContainer p {
	font-size: 120%;
}

/*MEDIA QUERIES*/

@media only screen and (min-width: 319px) and (max-width: 770px) {

	#pagesCommonHeaderContainer ul {
		text-align: center !important;
		padding-top: 30px;
		padding-bottom: 20px;
	}

	#pagesCommonHeaderContainer h4 {
		text-align: center !important;
		padding-top: 30px;
		padding-bottom: 20px;
	}


}
