
#pagesCommonHeaderContainer {

	background:linear-gradient(
		rgba(3, 169, 244, 0.8), 
		rgba(3, 169, 244, 0.8)
		), 
	url(../images/home-bkg002.jpg) no-repeat center center;
	color: #FFF;
	max-height: 100%;
}

#pagesCommonHeaderContainer a {

	color: white;
	font-size: 12px;

}

#pagesCommonHeaderContainer a:hover {

	text-decoration: none;
	-webkit-animation: bounce 1s;
	animation: fadeIn 4s;

}

#pagesCommonHeaderContainer p {

	font-size: 13px;
	font-weight: 600;

}

#pagesCommonHeaderContainer ul {

	padding-top: 75px;
	text-align: right;

}

#pagesCommonHeaderContainer .list-inline-item {

	margin-right: 1px;
}

#pagesCommonHeaderContainer h4 {

	font-size: 32px;
	padding-top: 70px;
	padding-bottom: 70px;

}


/*Counter Container styles*/

#counterContainer {
	margin-top: 50px;
	margin-bottom: 50px;
}

#counterContainer img {
	width: 30%;
	height: 40%;
}

#counterContainer img:hover {
	-webkit-animation: bounce 1s;
	animation: fadeIn 4s;
}

#counterContainer span {
	font-size: 45px;
	font-family: 'Montserrat', sans-serif;
	color: black;
}

#counterContainer p {
	font-size: 120%;
} 


/*Blue Strip styles*/

.bluestrip {
	background-color: rgb(3, 169, 244);
	color: white;
}

.bluestrip img {
	width: 100%;
}

.bluestrip img:hover {
	-webkit-animation: bounce 1s;
	animation: fadeIn 2s;
}

.bluestrip .row {
	padding-top: 60px;
	padding-bottom: 60px;
}

.bluestrip .btn-outline-primary {
	border:2px solid white;
	color: #FFF;
	font-size: 16px;
	border-radius: 0;
	padding: 15px;
	
}

.bluestrip .btn-outline-primary:hover {
	background-color: #FFF;
	color: black;
	
}


.btnCol {
	text-align: right;
}

/*MEDIA QUERIES*/

@media only screen and (min-width: 319px) and (max-width: 770px) {

	#pagesCommonHeaderContainer ul {
		text-align: center !important;
		padding-top: 30px;
		padding-bottom: 20px;
	}

	#pagesCommonHeaderContainer h4 {
		text-align: center !important;
		padding-top: 30px;
		padding-bottom: 20px;
	}


	.bluestrip img {
		width: 50%;
	}

	.bluestrip  {
		text-align: center;
	}

	.btnCol {
		text-align: center;
	}


}
