#galleryCarouselIndicators li {
	padding: 7px;
	width: 0%;
	border-radius: 50%;
	border: 1px solid black;
	bottom:-50px;
	background-color: grey;
}

#galleryCarouselIndicators .active {
	background-color: black;
}

.galleryCarousel img {
	border:1px solid #cac4c4;
	padding: 3px;
}

.galleryCarousel h3 {
	color: black;
}


.galleryCarousel {
	margin-bottom: 50px;
}