

body {
	font-family: 'Hind', sans-serif;
	color: #797878;
	line-height: 1.65;
}

/*Custom style classes*/

.mt-20 {
	margin-top: 20px;
}

.mt-50 {
	margin-top: 50px;
}

/*top nav styles*/

#top-NavPart {
	height: 49px; 
	border-bottom: 1px solid #b5abab;
	color: #ffffff;
	background-color: #03a9f4;
	padding:11px 0 5px;
	position: relative;
}

#top-NavPart a {
	color: white;
	text-decoration: none;
}

#top-NavPartRow p {
	margin-bottom: 0px;
	margin-top: 5px;
}

#top-NavPart a:hover {
	color: #03A9F4;
	
}

.top-NavPart-contact {
	font-size: 14px;
	font-weight: bold;
	word-wrap: break-word;
	display: inline;
}

#smIconsDiv {
	text-align: right;
	margin-top: -2px;
}

#smIconsDiv .fa {
	padding: 8px;
	font-size: 15px;
	width: 30px;
	border-radius: 4px;
	z-index: 9999;
}


.fbIcon:hover {
	background-color: #3c599f !important;
	color: white;
}


.ytIcon:hover {
	background-color: #c52f30 !important;
	color: white;
}

.ig-icon:hover {
	background-color: #a1755c !important;
	color: #FFFF;
}

.liIcon:hover {
	background-color: #0085ae !important;
	color: white;
}

.twIcon:hover {
	background-color: #32ccfe !important;
	color: white;
}

#websiteTitle {

	color: #00aeef;
}

.navbar .active {
	color: #00aeef !important;
}

.navbar-nav li a {
	font-weight: 500;
}

.mainNav a {
	color: #444;
	padding: 0 15px 0 15px;
}

.mainNav a:hover {
	color: #03A9F4;
	opacity: 0.6;
}

#mobileOnly {
	display: none;
	background-color: #f6f6f6;
}

#mobileOnly h5 {
	padding: 10px;
	font-size: 15px;
	color: black;
}

#mobileOnly p {
	font-size: 10px;
	margin-left: 15px;
}

#mobileOnly a {
	color: #797878;
}

#mobileOnly .fa {
	color: #03A9F4;
}

/*Slider css styles*/
.carouselBox {
	z-index: 5;
	background-color: rgba(0, 0, 0, 0.6);
	text-align: left;
	line-height: 23px;
	margin-bottom: 230px; 
	left: -13%;
	font-weight: 400;
	font-size: 14px;
	min-height: 338px;
	min-width: 654px;
	max-height: 338px;
	max-width: 654px;
}

.carouselBox h5 {
	font-size: 18px;
	margin-left: 10px;
	color: #FFF;
	
}

.carouselBox p {
	font-size: 16px;
	margin-left: 10px;
	color: #FFF;
	
}

.carouselBox h1 {
	margin-left: 10px;
	color: #FFF;
	font-weight: bolder;
	padding-top: 20px;
	padding-bottom: 20px;

}

.carouselBox button {
	margin-left: 10px;
	color: #FFF;
	background-color: #03A9F4;
	padding: 11px;
	border-radius: 0; 	
}

.carouselBoxLine {
	border-bottom: 5px solid #03A9F4;
	width: 170px;
	text-align: left;
	margin-left: 10px;
}


/*End of slider css*/


/*Blue Stronghold Container styles */

#bluepartCol1 {
	background-color: rgb(3, 169, 244);
	height: 182px;
}

#bluepartCol2 {
	background-color: rgb(8, 160, 228);
	height: 182px;
}

#bluepartCol3 {
	background-color: rgb(8, 147, 209);
	height: 182px;
}

#bluepartImg1 {
	width: 70px;
	height: 55px;
	margin-top: 20px;
}

#bluepartImg2 {
	width: 40px;
	height: 55px;
	margin-top: 20px;
}

#bluepartImg3 {
	width: 70px;
	height: 55px;
	margin-top: 20px;
}

.bluePartHeader {
	font-size: 18px;
	color: #FFF;
	text-decoration: none;
}

.bluePartParagraph {
	font-size: 14px;
	color: #FFF;
}

/*Welcome Container Styles*/

#WelcomeContainerPic {
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#WelcomeContainerParagraph {
	line-height: 1.5;
	text-align: justify;
	margin-top: 20px;
}

.learnMoreBtn {
	color: #FFF;
	background-color: #03a9f4;
	padding: 14px 20px;
	font-size: 14px; 
}

#WelcomeContainerHeader {
	color: black;
}

/*Why nahass container styles*/

#whyNahassContainer {
	background-color: #03a9f4;
	height:100%;
	margin-top: 100px;
}

#whyNahassHeaderRow {
	color: white;
	padding-top: 30px;
}

#reasonsRow img:hover {
	width: 70px;
	height: 70px;
}


#reasonsRow img {
	height: 50px;
	width: 50px;
}

#reasonsRow {
	color: white;
}

#reasonsRow h4 {
	font-size: 16px;
}

#reasonsRow p {
	font-size: 13px;
}

.whiteLine {
	width: 60px;
	border-bottom: 3px solid #FFF;
	margin: 0px auto;
}

/*Services Container styles*/

#ourServicesHeaderRow h3 {
	color: black;
}


#ourServicesHeaderRow p  {
	color: #797878;
}

.blueLine {
	width: 60px;
	border-bottom: 3px solid rgb(3, 169, 244);
	margin: 0px auto;
}

.serviceBox {
	color: white;
	margin-top: 40px;
	max-width: 100%;
	height: 258px;
}

.bgImg1 {
	background:linear-gradient( rgba(3, 169, 244, 0.8) 100%, 
		rgba(3, 169, 244, 0.8)100% ),
	url("images/dental-filling.jpg");
	cursor: pointer;
}

.serviceBox:hover {
	transform: translateY(-20px);
} 

.bgImg2 {
	background:linear-gradient( rgba(3, 169, 244, 0.8) 100%, 
		rgba(3, 169, 244, 0.8)100% ),
	url("images/Orthodontics-002.jpg") center center no-repeat;
	cursor: pointer;
}

.bgImg3 {
	background:linear-gradient( rgba(3, 169, 244, 0.8) 100%, 
		rgba(3, 169, 244, 0.8)100% ),
	url("images/tooth-extraction.jpg");
	cursor: pointer;
}

.bgImg4 {
	background:linear-gradient( rgba(3, 169, 244, 0.8) 100%, 
		rgba(3, 169, 244, 0.8)100% ),
	url("images/root-canal.jpg") center center no-repeat;
	cursor: pointer;
}

.bgImg5{
	background:linear-gradient( rgba(3, 169, 244, 0.8) 100%, 
		rgba(3, 169, 244, 0.8)100% ),
	url("images/teeth-whitening.jpg") center center no-repeat;
	cursor: pointer;
}

.bgImg6 {
	background:linear-gradient( rgba(3, 169, 244, 0.8) 100%, 
		rgba(3, 169, 244, 0.8)100% ),
	url("images/Routine-Dental002-1.jpg") center center no-repeat;
	cursor: pointer;
}

.serviceBox h3 {
	font-size: 21px;
}

.serviceBox p {
	font-size: 14px;
	width: 320px;
	text-align: center;
	padding-left: 20px;
	line-height: 1.5;
	cursor: pointer;
}

.serviceBoxImg1 {
	height: 50%;
}

.serviceBoxImg2 {
	height: 50%;
	width: 30%;
}

.serviceBoxImg3 {
	height: 50%;
	padding-bottom: 16px;
	padding-top: 5px;

}

.serviceBoxImg4 {
	height: 50%;
	padding-top: 5px;
}

.serviceBoxImg5 {
	height: 50%;
	padding-top: 15px;
	padding-bottom: 15px;
}

/*Testimonials Container Styles*/

#testiContainer {
	background: url(images/slide1-2.jpg); 
	background-position: 50% 50%;
	margin-top: 30px;
	background-position: 50% 5px;
	opacity: 1;
	background-attachment: scroll;
	object-fit: cover;

}

#testiHeaderRow {
	color: white;
	padding-bottom: 20px;
}

.testiImg {
	border-radius: 50%;
}

#carouselExampleControls {
	color: white;
}

#testiContainer .carousel-indicators {
	bottom: -100px;
}

#svgRow {
	margin-top: 140px;
}

/*our Dentists container styles*/

.cardBody {
	background-color: #f6f6f6;
}

.cardSize{
	width: 22rem;
}

.cardText {
	color: #03A9F4;
	font-size: 20px;
}

.cardTitle {
	color: #222;
}


/*Blue Container Styles*/

.blueContainer {
	background-color: #03a9f4 !important;
	color: #FFF;
}

.blueContainer h4 {
	padding-top: 20px;
}

.blueContainer p {
	padding-bottom: 20px;
}

.blueContainer button {
	margin-bottom: 40px;
	padding: 0.8rem;
	background-color: #FFF;
}

/*Footer Container Styles*/

.footer h4 {
	border-bottom: 1px solid black;
	color: black;
	text-decoration: none;
	padding-bottom: 10px;
}

.footer .fa {
	color: #03A9F4;
}

.footerPs {
	margin-top: 15px;
	cursor: pointer;
}

.footerSm .fa {
	padding: 8px;
	font-size: 20px;
	width: 40px;
	background-color:#03A9F4 ;
	color:#FFF ;
	border-radius: 2px;
	text-align: center;
	margin:3px;
}

/*Copyright container styles*/
.copyrightContainer {
	background-color: #f5f5f5;
	padding: 20px; 
	font-size: 14px;
}


/*MEDIA QUERIES*/

@media only screen and (max-width: 1200px) {

	#top-NavPart {
		display: none;
	}

	#mobileOnly {
		display: block;
	}

}




